body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    display: flex;
}

.container-fluid {
    padding: 0;
}

.filters>li{
    cursor: pointer;
}

.filters>li:hover{
    font-weight: bolder;
    font-style: italic;
}

#products>div {
    width: 250px;
    min-height: 300px;
    border: 5px solid yellowgreen;
    background-color: aliceblue;
    margin: 10px;
}

.card img {
    width: 100%;
    height: 150px;
}

.card p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}